<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link id="theme" rel="stylesheet" href="../themes/green.css" />
		<link rel="stylesheet" href="../index.css" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/locale/es.min.js"></script>
		<title>About me</title>

	</head>
	<body>
		<div id="change-theme">
			<div id="to-green"></div>
			<div id="to-red"></div>
			<div id="to-blue"></div>
		</div>
		<section id="global">
			<header>
				<div id="logo">Proyecto JS</div>

				<div class="clearfix"></div>
				<nav id="menu">
					<ul>
						<li><a href="../index.html">Inicio</a></li>
						<li><a href="#">Reloj</a></li>
						<li><a href="Contactos.html">Contacto</a></li>
						<li><a href="./About.html">Sobre mi</a></li>
					</ul>
				</nav>



				<section id="content">
					<div id="box">

						<div id="reloj"></div>

					</div>

					<aside id="sidebar" aria-label="Lateral">
						<div id="about">
							<h4><span> ¿Quien soy?</span></h4>
							<img src="../src/caracol.png" alt="Un caracol" />
							<p id="user_logged">Hola, <strong></strong><p/><br>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod,
								incidunt aperiam, omnis beatae tempora quia nulla architecto ea
								distinctio magni consequatur blanditiis, reiciendis ab. At sunt
								suscipit reprehenderit facere sed!
							</p>
						<br><a href="#" id="logout">Cerrar sesion<a/>
						</div>

						<div id="login">
							<h4><span>Identificate</span></h4>
							<form action="">
								<label for="name">Nombre</label>
								<input type="text" name="name" id="form_name" />
								<label for="correo">Correo</label>
								<input type="email" name="correo" id="form_email" />
								<label for="password">Password</label>
								<input type="password" name="password" id="form_password" />
								<input type="submit" value="Enviar" />
							</form>
						</div>
						</aside >
					<div class="clearfix"></div>
					</section>
					</header>
				</section>
		<footer>
			Johan Andres Mendez Macea &copy;

			<a href="#" class="subir">Ir arriba</a>
		</aside>
	</footer>
	</body>
	<script src="../main.js"></script>
</html>
